.stApp {
    background-color: #ebebeb;
    font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
    color: darkgray !important;
    margin: 0 !important;
    padding-top : 0 !important;
}

/* header[data-testid="stHeader"] {
    display: none !important;
}    */


/* Styl sidebar */
section[data-testid="stSidebar"] > div {
    background: white !important;
}


/* Przyciski w sidebar */
section[data-testid="stSidebar"] .stButton button {
    background: linear-gradient(45deg, hsl(214, 100%, 71%), hsl(216, 51%, 78%)) !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 0.5rem 1rem !important;
    font-weight: 500 !important;
    transition: all 0.3s ease !important;
    margin: 0.2rem 0 !important;
    width: 100% !important;
}



/* Linia separatora w sidebar */
section[data-testid="stSidebar"] hr {
    border-color: darkgray !important;
    margin: 0.5rem 0 !important;
}


.stSelectbox div[data-baseweb="select"] > div:first-child {
    background-color: white;
    color: gray !important;
    border-color: #426c85;
}

section[data-testid="stSidebar"] label {
    font-family: 'Inter', sans-serif !important;
    color: gray !important;
    font-size: 18px !important;
    margin-bottom: 0.2rem !important;
}

/* ustawienia slider */
section[data-testid="stSidebar"] .stSlider,
section[data-testid="stSidebar"] .stSlider .rc-slider-mark-text {
    color: gray !important;
}

section[data-testid="stSidebar"] .stSlider .rc-slider-rail {
    background-color: #ddd !important;
}
