.stApp {
    background-color: #f5f5f5;
    font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
    color: darkgray !important;
    margin: 0 !important;
    padding-top : 0 !important;
}

 /* smaller padding from left and right  */
.block-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 3rem !important;  /* mało, żeby top-nav przylegał */
    /* max-width: 100% !important;  */
}

[data-testid="stVerticalBlock"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
   
}




.stSelectbox div[data-baseweb="select"] > div:first-child {
    background-color: white;
    color: gray !important;
    border-color: #426c85;
    
}

.st-key-params{
    background-color: white;
    padding-left:1.2vw;
    padding-top:1.2vw;
    padding-bottom:1.2vw;
    border-top: 0.5px solid rgb(233, 231, 231);
    border-bottom: 0.5px solid rgb(233, 231, 231);
}

.params_title{
    margin-left: 1.2vw;
    font-family: 'Inter', sans-serif;
    color: #16476A;
}

.st-key-col1{
    display: flex;
    align-items: center;
    justify-content: center;
}


.selected_params{
    color:#c0c0c0;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top:0.3rem;

}

.stSelectbox div[data-baseweb="select"] > div:first-child {
            background: linear-gradient(
            45deg,
             hsl(205, 70%, 20%),
             hsl(204, 66%, 30%)) !important;
            border-color: #16476A;
            color:white !important;
            font-size: 10;
            margin-bottom : 1vw;
            width: 90% !important;
        }
.stSlider > div{
    width: 50% !important;
}

/* Sidebar text fonts ------------------------------------------------- */

.sidebar_title{
    color: #16476A;
    font-family: 'Inter', sans-serif;
    font-size : 28px;
    margin-bottom: 0.6rem;
    font-weight: 500;
}

.st-key-white_cont, .st-key-white_cont_int {
    background-color: white;
    border-radius: 0.2rem;
    padding-bottom: 1.2vw;
    padding-top: 1.2vw;
    padding-left: 1.2vw;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.st-key-white_cont0, .st-key-white_cont1, .st-key-white_cont2, .st-key-white_cont3,.st-key-white_cont4, .st-key-white_cont5, .st-key-white_cont6, .st-key-white_cont7, .st-key-white_cont8 {
    background:
    linear-gradient(
    45deg,
    hsl(204, 65%, 26%), 
    hsl(204, 60%, 38%)) !important;;
    border-radius: 0.6rem;
    padding: 1.5vw !important;
    padding-top: 0;
    margin-top: 1.6vw;
   
    width: calc(100% - 5rem) !important; /* 100% minus sumę marginesów */
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Home page text fonts ------------------------------------------------- */
.homepage_title{
    color: #16476A;
    font-family: 'Inter', sans-serif;
    font-size : 3.5vw;
    margin-bottom: 0rem;
    font-weight: 500;
    margin-left: 2.5rem;
    margin-top:1rem;
    text-align: center;
    
}
.homepage_subtitle{
    color: #16476A;
    font-family: 'Inter', sans-serif;
    font-size : 1.8vw;
    margin-top:0;
    margin-bottom: 0.6rem;
    font-weight: 500;
    border-bottom: 1.2px solid #426c85;
    border-radius: 0;
    margin-left:2.5rem;
    text-align: center;
}
.overview_descr{
    color:white ;
    background: linear-gradient(
    45deg,
    hsl(204, 65%, 26%), 
    hsl(204, 60%, 38%)) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    font-family: 'Inter', sans-serif;
    font-size : 1.2vw;
    padding: 1.2vw;
    margin-top:0.3rem;
    margin-left: 0.5rem !important;
    margin-right: 2.5rem !important;
    text-align: justify;

}

.section_title{
    color: #16476A;
    font-family: 'Inter', sans-serif;
    font-size : 2vw;
    margin-top:1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.section_title_overw{
     color: #16476A;
    font-family: 'Inter', sans-serif;
    font-size : 2vw;
    margin-top:1rem;
    margin-bottom: 0rem;
    background-color: white;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.2vw;
    padding-bottom: 0;


}
.st-key-logo{
    background-color: #f5f5f5;
    margin-top:1rem;
    margin-left:2.5rem;
    padding:1.2vw;

}

.section_descr_overw{
    color: #557D95;
    background-color: white;
     border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    font-family: 'Inter', sans-serif;
    font-size : 1.2vw;
    margin-top:0rem;
    margin-bottom: 0.3rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.2vw;
    font-weight: 500;
    text-align: justify;

}


.section_descr{
    color: #557D95;
    background-color: white;
    border-radius: 0.6rem;
    font-family: 'Inter', sans-serif;
    font-size : 1.2vw;
    margin-top:0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.2vw;
    font-weight: 500;
    text-align: justify;

}

.section_descr_metrics{
    color: #16476A;
    background-color:#f5f5f5;
    font-family: 'Inter', sans-serif;
    font-size : 1.25vw;
    margin-top:0rem;
    margin-left:2.5rem;
    margin-right: 2.5rem;;
    margin-bottom: 0rem !important;
    padding: 1.2vw;
    font-weight: 500;
    text-align: justify;

}

.st-key-rashomon_background, .st-key-intersection_background, .st-key-bibliography_background{
    background: linear-gradient(
    45deg,
    hsl(204, 65%, 26%), 
    hsl(204, 60%, 38%)) !important;
    margin-top: 1.2vw;
    margin-left:2.5rem;
    margin-right:2.5rem;
    padding: 1.2vw;
    padding-top: 0vw;
    border-radius: 0.6rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.st-key-blue_cont{
    background: linear-gradient(
    45deg,
    hsl(204, 65%, 26%), 
    hsl(204, 60%, 38%)) !important;
    margin-top: 0.5vw;
    padding: 1vw;
    padding-top: 0vw;
    border-radius: 0.6rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.section_title_rashomon_and_int{
    color: white;
    background: linear-gradient(
    45deg,
    hsl(204, 65%, 26%), 
    hsl(204, 60%, 38%)) !important;
    font-family: 'Inter', sans-serif;
    font-size : 2vw;
    margin-top:1rem;
    margin-bottom: 0rem;
    font-weight: 500;
    margin-left:2.5rem;
    margin-right:2.5rem;
    padding:1vw;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;

}

.st-key-left-margin, .st-key-left-margin_2{
    margin-left: 2.5rem;
}







.rashomon_style{
    margin-left:2.5rem;
    margin-right:2.5rem;
    padding-right: 1.2vw;
    color: #557D95;
    font-family: 'Inter', sans-serif;
    font-size : 1.25vw;
    font-weight: 500;
    text-align: justify;

}
.rashomon_style_question{
    padding: 1.2vw;
    padding-top:1vw;
    color: #557D95;
    font-family: 'Inter', sans-serif;
    font-size : 1.25vw;
    font-weight: 500;
    text-align: justify;

}
.rashomon_style_question_white{
    padding: 1.2vw;
    padding-top:1.1vw;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size : 1.2vw;
    font-weight: 500;
    text-align: justify;

}

.intersection_style{
    padding-left: 1.2vw;
    color: #557D95;
    font-family: 'Inter', sans-serif;
    font-size : 1.2vw;
    font-weight: 500;
    text-align: justify;

}

.rashomon_question{
    padding: 1.2vw;
    padding-bottom: 0vw;
    color: #557D95;
    font-family: 'Inter', sans-serif;
    font-size : 1.5vw;
    font-weight: 600;
    text-align: justify;

}

.key_style{
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size : 1.2vw;
    font-weight: 600;
    padding-left: 1.2vw;
    padding-top:1.2vw;

}
.data_descr{
    box-sizing: border-box;
    padding-left: 1.5vw;
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
    font-size : 1.2vw;
    font-weight: 500;
    text-align: justify;
    padding-right: 1.2vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    hyphens: auto;
    max-width: 100%;

}

.add_bottom_padding{
    margin-bottom: 1.2vw !important;
}


.dataset_title{
    color: #16476A;
    border-bottom: solid 1.5px #16476A;
    font-family: 'Inter', sans-serif;
    font-size : 2vw;
    margin-top:1rem;
    margin-bottom: 0.3rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-weight: 500;

}


.st-key-padding_cont_plot{
    padding: 1.2vw;
}


.app-header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    gap: 1rem;

    background: linear-gradient(
        45deg,
        hsl(204, 65%, 26%), 
        hsl(204, 60%, 38%)
    );

    padding: 0.8rem 2.5rem;
}

/* Autogluon and H2O tabs  ------------------------------------------------- */

.stTabs [data-baseweb="tab-list"] {
    width: 100%;
    gap: 0; 
    margin: 0;
    padding: 0;
}

.stTabs [data-baseweb="tab"] {
    height: 50px;
    white-space: pre-wrap;
    background-color: #f0f2f6;
    color: black;
    font-weight: 900;
    flex: 1;
    margin: 0;
    border-radius: 0; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stTabs [aria-selected="true"] {
    background-color: #16476A;
    color: white;
    font-weight: 900;
}

.stTabs [data-baseweb="tab-list"] button {
    flex: 1;
    text-align: center;
    justify-content: center;
    font-weight: 900;
}
